/*@import "_partials/basic2col";*/
@import "../../bower_components/normalize-scss/normalize";
@import "../../bower_components/susy/sass/susy";

// color palette from www.colourlovers.com/palette/3636384/Winter_Wolves
$color-morningmist: #F4F9F2;
$color-finesugar: #E5DDB6;
$color-sweaterwithwolves: #635B51;
$color-guatemalaskies: #CEDBD1;
$color-giver: #D3E8D9;

// basic full height reset
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

html, body, #wrap {
  min-height: 100vh;
}

body {
  background-color: $color-morningmist; 
}

header {
  background-color: $color-guatemalaskies;
  height: 80vh;
}

header div {
  min-width: 1200px;
  margin: 0 10%;   
}

.nav {
  list-style-type: none;
  text-align: right;
}

.nav a {
  display: block;
  float: left;
}
