/*@import "_partials/basic2col";*/
@import "../../bower_components/normalize-scss/normalize";
@import "../../bower_components/susy/sass/susy";

// color palette from www.colourlovers.com/palette/3636384/Winter_Wolves
$color-morningmist: #F4F9F2;
$color-finesugar: #E5DDB6;
$color-sweaterwithwolves: #635B51;
$color-guatemalaskies: #CEDBD1;
$color-giver: #D3E8D9;

$susy: (
    columns: 4,
    gutters: .25,
    global-box-sizing: border-box,
    debug: (
        image: show,
        color: rgba(#66b3dc, 0.25),
        output: background,
        toggle: top right
    )
);

// basic full height reset
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

html, body, #wrap {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: $color-morningmist; 
}

header {
  background-color: $color-guatemalaskies;
  height: 80vh;
}

#header-wrap {
  @include container;
  margin: 0 10%;
}

.logo {
  @include span(1 of 4);
}

.nav {
  @include span(3 of 4 last);
  list-style-type: none;
}

.nav li {
  display: block;
  float: right;
}
